body{
    color:black;
    background-color:lavenderblush;
    font-family: Arial, Helvetica, sans-serif;
}
    
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    text-align: center;
    padding: 17px;
}

ul a{
    color: black;
}

header h1{
font-family:monospace;
color:firebrick;
}

figure{
    display: flex;
    gap: 15px;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}

#img_circular{
    border-radius: 200px;
    border: 7px solid rosybrown;
}

section h2{
    color: rosybrown;
}
a{
    color:darkslategrey;
}
footer{
    display: flex;
    justify-content: center;
    padding: 17px;
}

nav a:hover{
    color: darkslategrey;
}
